@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}  

:root {
    --color-primary: #070d4a;
    --color-secondary: #ef5ba1;
    --color-gray-light: #a5a9ae;
}

h1, p {
    margin: 0;
}

h1 {
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    font-size: 14px;
    
    letter-spacing: 1px;
    line-height: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.clear {
    clear: both;
}

.container {
    background-color: none;
    max-width: 1000px;
    width: 100%; 
    margin: 0 auto;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* FLEX BOX */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.flex-container-center {
    justify-content: center;
}
  
.flex-item-2 {
    width: calc(50% - 10px);
}

.flex-item-4 {
    width: calc(25% - 15px);
}

.flex-item-2 img,
.flex-item-4 img {
    width: 100%;
    height: auto; 
    aspect-ratio: 16 / 9; 
    object-fit: cover; 
    display: block;
    margin-bottom: 10px;
    border: 1px solid var(--color-gray-light);
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.flex-item-2 h1,
.flex-item-4 h1 {
    font-size: 15px;
    color: var(--color-primary);
    text-transform: uppercase;
}

.flex-item-2 p,
.flex-item-4 p {
    text-transform: uppercase;
    color: var(--color-gray-light);
}

.flex-item-botoes {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.flex-item-botoes i {
    font-size: 15px;
    color: var(--color-primary);
    margin-left: 10px;
    color: white;
}
/* FLEX BOX */

/*HEADER*/
.header {
    background: var(--color-primary);
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
/* Estilo do menu */
.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

/* Estilo do submenu */
.submenu {
    width: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-secondary);
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: none; 
}

.menu li:hover > .submenu {
    display: block;
}

.submenu li a {
    padding: 10px;
    color: white;
}

.submenu li a:hover {
    background-color: var(--color-primary);
}

.arrow {
    font-size: 10px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.menu li:hover .arrow {
    transform: rotate(180deg);
}

.header img {
    width: 110px; 
    cursor: pointer;
    object-fit: contain;
    display: block;
}

/*HEADER*/

/* Menu mobile */
.mobile-menu-icon {
    user-select: none;
    display: none;
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 1px;
}

.mobile-menu {
    user-select: none;
    display: none; 
    flex-direction: column;
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 56px;
    right: 0;
    width: 100vw;
    z-index: 40;
    text-align: center;
}

.mobile-menu a {
    padding: 15px;
    text-decoration: none;
    color: #333; 
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    display: block;
    cursor: pointer;
}

.mobile-menu a:last-child {
    border-bottom: none;
}

.mobile-menu a:hover {
    color: white; 
    background-color: var(--color-primary);
}
/* Menu mobile */

/* FOOTER */
.footer {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: var(--color-primary);
    color: white;
}

.footer ul {
    list-style-type: none;
    padding-left: 0;
}

.footer li {
    margin-bottom: 10px;
}

.footer .info-agency {
    margin-top: 60px;
    text-align: center;
}

.footer p, .footer a {
    font-size: 12px;
}

.footer h2 {
    font-size: 20px;
}

.footer .info-agency img {
    margin-bottom: 20px;
    width: 150px;
}
/* FOOTER */

/* Mobile - Menu mobile e flexbox para itens */
@media (max-width: 600px) {

    .container {
        padding: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .flex-item-2, 
    .flex-item-4 {
        width: 100%;
    }

}
/* Mobile - Menu mobile e flexbox para itens */
