
.container-dashboard {
    width: 900px;
    margin: 0 auto;
}

.card-dashboard {
    padding: 10px;
    color: white;
    margin-top: 25px;
}

.card-dashboard i {
    font-size: 40px;
}

.card-dashboard h2 {
    font-size: 30px;
    text-align: right; 
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.card-dashboard p {
    text-align: right;
    font-size: 10px;
    color: white;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    user-select: none;
}

#btn-closed {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    transition: transform 0.3s ease-in-out;
}

#navbar-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    z-index: 998;
    background-color: #3a3633;
    list-style: none;
    transition: left 0.3s ease-in-out;
}

#navbar-usuario {
    font-size: 13px;
    padding: 11px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c9c9c9;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

#navbar-menu-item {
    padding: 13px;
}

#navbar-menu-item a {
    color: #c0bbb7;
    text-decoration: none;
}

#navbar-menu-item a:hover {
    color: #fff;
}

/*HEADER*/
.header-dashboard {
    width: 100%;
    text-align: right;
    background: var(--color-primary);
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#btn-menu {
    cursor: pointer;
    font-size: 16px;
    color: white;
}

/* Estilo do menu */
.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

/* Estilo do submenu */
.submenu {
    width: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-secondary);
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: none; 
}

.menu li:hover > .submenu {
    display: block;
}

.submenu li a {
    padding: 10px;
    color: white;
}

.submenu li a:hover {
    background-color: var(--color-primary);
}

.arrow {
    font-size: 10px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.menu li:hover .arrow {
    transform: rotate(180deg);
}

.header img {
    width: 110px; 
    cursor: pointer;
    object-fit: contain;
    display: block;
}
/*HEADER*/

/* ANIMATES */
.slide-in {
    left: 0;
    visibility: visible;
}

.slide-out {
    left: -220px;
    visibility: hidden;
}

@keyframes rotateX {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideOut {
    0% {
        left: 0;
    }
    100% {
        left: -220px;
    }
}

@keyframes slideIn {
    0% {
        left: -220px;
    }
    100% {
        left: 0;
    }
}
/* ANIMATES */