<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/template/dashboard/dashboard.css">
    <!--CSS-->
</head>

<main>
    <div class="container-dashboard">
        <ul id="navbar-menu">
            <a id="btn-menu"><i class="fa-solid fa-xmark"></i></a>
            <li id="navbar-usuario">Gabriel Filipy</li>
            <li id="navbar-menu-item"><a>Home</a></li>
            <li id="navbar-menu-item"><a>User</a></li>
            <li id="navbar-menu-item"><a>Blog</a></li>
        </ul>
    </div><!--container-dashboard-->
</main>

<script src="/static/template/dashboard/js/script.js"></script>
