<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="/static/template/dashboard/index.css">
    <!--CSS-->
</head>

<main>
    
    <div class="header-dashboard">
        <div class="container-dashboard">
            <i id="btn-menu" class="fa-solid fa-bars"></i>
        </div><!--container-->
    </div><!--header-dashboard-->
    
    <ul id="navbar-menu">
        <a id="btn-closed"><i class="fa-solid fa-xmark"></i></a>
        <li id="navbar-usuario"><i class="fa-solid fa-user"></i> Gabriel Filipy</li>
        <li id="navbar-menu-item"><a href="/dashboard/home"><i class="fa-solid fa-house"></i> Home</a></li>
        <li id="navbar-menu-item"><a href="/dashboard/users"><i class="fa-solid fa-users"></i> Users</a></li>
        <li id="navbar-menu-item"><a href="/dashboard/blog-posts"><i class="fa-solid fa-blog"></i> Blog</a></li>
    </ul><!--navbar-menu-->

    <%- include(body) %>
</main>

<script src="/static/template/dashboard/js/script.js"></script>
