<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/template/contact/contact.css">
    <!--CSS-->
</head>

<main>
    <div class="container">
        <div class="flex-container">
            <div class="flex-item-2">
                <div class="form-container">
                    <h2>INFORME SEU E-MAIL</h2>
                    <p id="desc">DISPONÍVEL 24 HORAS POR DIA!</p>
                    <form>
                        <input type="email" id="email" name="email" placeholder="E-mail">
                        <input type="email" id="email" name="email" placeholder="Seu nome">
                        <textarea id="email" placeholder="Mensagem"></textarea>

                        <div class="flex-container">
                            <div class="flex-item-botoes">
                                <button type="submit">Enviar</button>
                            </div>

                            <div class="flex-item-botoes">
                                <a href="https://www.instagram.com/frigopescaoficial/#"><i
                                        class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            </div>

                        </div>

                    </form>
                </div><!--form-container-->
            </div><!--flex-item-->
            <div class="flex-item-2">
                <div class="map-container">
                    <h2>LOCALIZACAO</h2>
                    <p id="desc">Nossa localização.</p>

                    <iframe
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA5Q1ndLg9P8CRgEtlZqy1xOFD5EN9dk8g&q=Av.+Correnteza,+2472+-+Correnteza,+Manacapuru+-+AM,+69400-000,+FRIGOPESCA+-+PINHEIRO+E+RODRIGUES+LTDA."
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>

                </div><!--map-container-->
            </div><!--flex-item-->
        </div><!--flex-item-->
    </div><!--flex-container-->
    </div><!--container-->
</main>

<script src="js/script.js"></script>