<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/template/contact/contact.css">
    <!--CSS-->
</head>

<main>
    <div class="container">
        <div class="flex-container">
            <div class="flex-item-2">
                <div class="form-container">
                    <h2>INFORME SEU E-MAIL</h2>
                    <p id="desc">DISPONÍVEL 24 HORAS POR DIA!</p>
                    <form>
                        <input type="email" id="email" name="email" placeholder="E-mail">
                        <input type="email" id="email" name="email" placeholder="Seu nome">
                        <textarea id="email" placeholder="Mensagem"></textarea>

                        <div class="flex-container">
                            <div class="flex-item-botoes">
                                <button type="submit">Enviar</button>
                            </div>

                            <div class="flex-item-botoes">
                                <a href="https://www.instagram.com/frigopescaoficial/#"><i
                                        class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            </div>

                        </div>

                    </form>
                </div><!--form-container-->
            </div><!--flex-item-->
            <div class="flex-item-2">
                <div class="map-container">
                    <h2>LOCALIZACAO</h2>
                    <p id="desc">Nossa localização.</p>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.2270382266825!2d-60.6226493264828!3d-3.2938652411130303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x926b7fa9d3f02165%3A0xb9f262ee385241cb!2sR.%20Dezesseis%20de%20Julho%2C%20Manacapuru%20-%20AM%2C%2069400-000!5e0!3m2!1spt-BR!2sbr!4v1742934627676!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div><!--map-container-->
            </div><!--flex-item-->
        </div><!--flex-item-->
    </div><!--flex-container-->
    </div><!--container-->
</main>

<script src="js/script.js"></script>