<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/template/dashboard/user/User.css">
    <!--CSS-->
</head>

<main>
    <form action="">
        <div class="flex-container">
            <div class="flex-item-2">
                <label for="Nome"></label>
                <input type="text" name="user-name">
            </div><!--flex-item-->
            <div class="flex-item-2">
                <label for="E-mail"></label>
                <input type="text" name="user-email">
            </div><!--flex-item-->
        </div><!--flex-container-->
    </form><!--form-->
</main>