<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/index.css">

    <link rel="stylesheet" type="text/css" href="/static/template/dashboard/user/User.css">
    <!--CSS-->
</head>

<main>
    <div class="container">
        <h2 id="title-principal"><i class="fa-solid fa-users"></i> Usuários</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Nome</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Gabriel Filipy</td>
                <td>gabrielfilipycorrea@gmail.com</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Elizandra Barbosa</td>
                <td>elizandracorrea@gmail.com</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Irauna Andrade</td>
                <td>iraunaandrade@gmail.com</td>
            </tr>
        </tbody>
    </table>
    </div><!--container-->
</main>