<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/template/blog/blog-post/blog-post.css">
    <!--CSS-->
</head>

<div class="container">
    <h1>Post ID: <%= postId %></h1> 
    <h1 id="post-title"></h1>
    <p id="author-data-post"></p>
    <img id="post-image" src="" alt="Post Image" />
    <p id="post-description"></p>
</div><!--container-->

<script>
    const postId = "<%= postId %>";
</script>
<script src="/static/template/blog/blog-post/js/script.js"></script>