<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="/static/template/dashboard/blog/Blog.css">
    <!--CSS-->
</head>

<main>
    <div class="container">
        <div class="flex-container">
            <div class="flex-item-2">
                <h2 id="title-principal"><i class="fa-solid fa-blog"></i> Postagens do blog</h2>
            </div><!--flex-item-2-->
            <div class="flex-item-2 right">
                <button id="btn-link">Novo</button>
            </div><!--flex-item-2-->
        </div><!--flex-container-->
        
    <table class="table">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Usuário</th>
                <th>Título</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Gabriel Filipy</td>
                <td>Whats Microservice?</td>
                <td>29.03.2025</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Gabriel Filipy</td>
                <td>Whats Microservice?</td>
                <td>29.03.2025</td>
            </tr>
            <tr>
                <td>80</td>
                <td>Gabriel Filipy</td>
                <td>Whats Microservice?</td>
                <td>29.03.2025</td>
            </tr>
        </tbody>
    </table>
    </div><!--container-->
</main>

<script src="/static/template/dashboard/blog/js/script.js"></script>
