<head>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/template/dashboard/home/Home.css">
    <!--CSS-->
</head>

<main>
    <div class="container">
        <h2 id="title-principal"><i class="fa-solid fa-house"></i> Home</h2>
        <div class="flex-container">
            <div class="flex-item-4">
                <div class="card-dashboard" style="background-color: var(--color-card-green);">
                    <div class="flex-container">
                        <div class="flex-item-2">
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <div class="flex-item-2">
                            <h2>18</h2>
                            <p>E-mails</p>
                        </div>
                    </div>
                </div><!--card-dashboard-->
            </div><!--flex-item-->
            <div class="flex-item-4">
                <div class="card-dashboard" style="background-color: var(--color-card-red);">
                    <div class="flex-container">
                        <div class="flex-item-2">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                        <div class="flex-item-2">
                            <h2>4</h2>
                            <p>Visitas</p>
                        </div>
                    </div>
                </div><!--card-dashboard-->
            </div><!--flex-item-->
            <div class="flex-item-4">
                <div class="card-dashboard" style="background-color: var(--color-card-yellow);">
                    <div class="flex-container">
                        <div class="flex-item-2">
                            <i class="fa-solid fa-paper-plane"></i>
                        </div>
                        <div class="flex-item-2">
                            <h2>7</h2>
                            <p>Publicações</p>
                        </div>
                    </div>
                </div><!--card-dashboard-->
            </div><!--flex-item-->
            <div class="flex-item-4">
                <div class="card-dashboard" style="background-color: var(--color-card-green);">
                    <div class="flex-container">
                        <div class="flex-item-2">
                            <i class="fa-solid fa-fire"></i>
                        </div>
                        <div class="flex-item-2">
                            <h2>5</h2>
                            <p>Clientes</p>
                        </div>
                    </div>
                </div><!--card-dashboard-->
            </div><!--flex-item-->
        </div><!--flex-container-->
    </div><!--container-dashboard-->
</main>

<script src="/static/template/dashboard/js/script.js"></script>
