.card-dashboard {
    padding: 10px;
    color: white;
}

.card-dashboard i {
    font-size: 40px;
}

.card-dashboard h2 {
    font-size: 30px;
    text-align: right; 
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.card-dashboard p {
    text-align: right;
    font-size: 10px;
    color: white;
}