<!-- api/views/template/error.ejs -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Erro</title>
</head>
<body>
    <h1>Ocorreu um erro</h1>
    <p>Algo deu errado.</p>
</body>
</html>
